* {
  padding: 0;
  margin: 0;
}
body {
  color: #444444;
  font-size: 13px;
  background: #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
}
a,
a:visited {
  color: #0196e3;
  text-decoration: none;
  outline: none;
}
button {
  border: none;
}
button:focus {
  outline: none;
}

header {
  display: block;
  width: 920px;
  margin: 15px auto;
  position: relative;
  text-align: center;
  color: #444444;
}
header h1 {
  font-family: "Myriad Pro",Arial,Helvetica,sans-serif;
	font-size: 42px;
	font-weight: normal;
	padding: 35px;
}
header h2 {
  font-family: "Myriad Pro",Arial,Helvetica,sans-serif;
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 10px;
	position: relative;
	top: -19px;
}

#gallery {
  width: 920px;
  overflow: hidden;
  margin: 0 auto;
  box-shadow: 0 0 3px #aaaaaa;
  border-radius: 0 0 4px 4px;
  border: 1px solid white;
  z-index: 0;
}
#slides {
  width: 920px;
  height: 400px;
  display: flex;
  align-items: flex-start;
  transform: translateX(0);
  transition: all 1s;
}

.roundShadow {
  position: absolute;
  top: -5px;
  width: 920px;
  height: 2px;
  border-radius: 50%;
  box-shadow: 0 3px 4px 1px #e0e0e0;
  z-index: 0;
}
.lineShadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 920px;
  height: 0;
  border-bottom: 1px solid #e0e0e0;
}

main .menu {
  position: relative;
  height: 45px;
  width: 100%;
  display: flex;
  justify-content: center;
  background: linear-gradient(#ffffff, #ececec);
  overflow: hidden;
}

main .menu button {
  width: 60px;
  display: inline-block;
  height: 45px;
  overflow: hidden;
  box-shadow: inset -1px 0 #fefefe, inset -2px 0 #dddddd;
  background: transparent;
  z-index: 1;
  position: relative;
}
main .menu button.fbar {
  width: 2px;
}
main .menu button.menuItem.active {
  background: radial-gradient(farthest-corner, #f0f0f0, #bbbbbb);
}
main .menu button.menuItem.inactive:hover {
  box-shadow: inset -1px 0 #fefefe, inset -2px 0 #dddddd;
  background: rgba(245, 245, 245, 0.5);
}

main .menu button.menuItem.active::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -2px;
  border: 7px solid transparent;
  border-top-color: #ffffff;
  z-index: 2;
}

footer p {
  padding: 10px;
  text-align: center;
}

footer p:first-child {
  margin-top: 16px;
  font-size: 13px;
}
footer p:last-child {
  font-size: 10px;
}
